<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeType fileExtension=".htaccess" mimeType="application/x-htaccess" />
        </staticContent>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".php" allowed="false" />
                    <add fileExtension=".js" allowed="false" />
                    <add fileExtension=".css" allowed="false" />
                    <add fileExtension=".txt" allowed="false" />
                </fileExtensions>
            </requestFiltering>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="includes" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
